{% extends 'base.html' %}


{% block content %}
<h1>Welcome!</h1>
{% if not opponents %}
<h4>Let's find your opponents!</h4>
<form action="/get-opponents"><button>Get Opponents!</button></form>
{% else %}
<h4>Challenge your opponents below! When you defeat them, click report!</h4>
<div class = "grid-container">
{% for opp in opponents %}
<div>
    <img src = "/static/images/blacksquare.png"></img>
    <br>
    <a href="{{ opp.opponent.url }}">Challenge {{ opp.opponent.username }}</a>
    <br>
    <form action="/reroll/{{ opp.strength }}">
        <button class = "btn btn-info">Reroll</button>
    </form>
    <form action="/report/{{ opp.strength }}">
        <button class = "btn btn-info">Report Victory</button>
    </form>
</div>
{% endfor %}
</div>
{% endif %}
{% if not victories %}
<h4>Your victories will be listed down below:</h4>
{% else %}
<h4>Past opponents:</h4>
{% for victory in victories %}
<div>
    <img src = "/static/images/pic{{ victory.strength }}.png"></img>
    <br>
    <p>You defeated {{ victory.opponent.username }}</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}
