{% extends 'base.html' %}


{% block content %}

  <div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h4>Let us know when you defeated {{opponent.username}}</h4>
    <h7>Please allow 12 hours for your games to be updated</h7>
    <form method="POST" id="report_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      <button class="btn btn-primary btn-lg btn-block">Report</button>
    </form>
    <br>
    <form action="/">
      <button class = "btn btn-primary">Return Home</button>
    </form>
  </div>
</div>

{% endblock %}